footer {
    text-align: center;
    background-color: #21333e;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
 
    padding-block: 1rem;
   
    color: white;
    font-size: 17px;

    & span {
        color: #0084ff;
        text-transform: capitalize;
        font-weight: bold;
    }
}